html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(background_option_3.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    /*margin: -75px 0 0 -100px;*/
    font-family: 'Nova Square', cursive;
 }

.header {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: white;
}
.headerContent {
    width: 80%;
    height: auto;
    top: 0;
    margin: 0 auto;
    text-align: center;
}

#site_name {
    font-size: 75px;
    margin-bottom: 5px;
}

#site_name img {
    height: 75px;
    width: 75px;
    margin-top: 5px;
    margin-right: 10px;
}

#navbar {
    height: 40px;
    background: #33CCFF;
    border-radius: 10px;
}

#navbar ul {
    margin: 0;
    padding: 0;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    text-decoration: none;
    float: left;
    display: block;
    padding: 10px 11px;
    color: white;
}

#navbar ul li a:hover {
    color: orange;
}

.headerBreak {
    width: 100%;
    height: 0;
    border-bottom: 2px solid #33CCFF;
}

#scroll_bar {
    height: 40px;
    background: #33CCFF;
    border-radius: 10px;
    position: fixed;
    width: 80%;
    top: 0;
    left: 0;
    text-align: center;
    display: block;
    margin-left: 10%;
    margin-right: auto;
    display: none;
}

#scroll_bar ul {
    margin: 0;
    padding: 0;
}

#scroll_bar ul li {
    list-style: none;
}

#scroll_bar ul li a {
    text-decoration: none;
    float: left;
    display: block;
    padding: 10px 11px;
    color: white;
}

#scroll_bar ul li a:hover {
    color: orange;
}

#content {
    margin: 40px auto 0;
    text-align: center;
    height: 100%;
    width: 100%;
    color: white;
    display: inline-block;
}

.content_container {
    margin: 20px auto 0;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    height: auto;
    width: 80%;
    color: black;
    display: inline-block;
    border: 10px solid rgba(0, 0, 0, 0.4);
    background-clip: padding-box;
}

.content_container p {
    text-align: left;
    padding: 10px;
    border-radius: 10px;
}

#intro_text {
    text-align: left;
    padding: 5px;
    margin: 5px;
    font-size: 25px;
    margin-bottom: 10px;
}

#logo {
    float: left;
    /*background-color: red;*/
    height: auto;
    width: 50%;
    text-align: center;
}

#logo img {
    height: 250px;
    width: 250px;
    margin: 10px;
}

#summary {
    float: right;
    /*background-color: green;*/
    height: auto;
    width: 50%;
    font-size: 20px;
}

#sharestories {
  background-color: red;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 30px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border:0;
  text-shadow:#C17C3A 0 -1px 0;
  width:120px;
  height: 32px;
  padding: 10px;
}