<div class="block-post">
    <div class="post-date p-3">1d</div>
    <div class="post-image-wrapper">
        <img class="post-image" src="../../../images/fpo_16x9.png" alt="">
    </div>
    <div class="post-title py-2">
        <h2>Title of Card</h2>
    </div>
</div>