

<div class="hero">
    <div class="hero-overlay">
        {% include "@atoms/images/primary-img/primary-img.twig" with
            {
                "img_data": img.primary   
            }
        %}
    </div>
</div>