  
    <!--DO NOT REMOVE-->
    {{ patternLabFoot | raw }}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="../../js/frameworks/materialize-src/js/bin/materialize.min.js"></script>
    <script src="../../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
